*{
  text-decoration: none;
}
body{
  margin: 0;
  padding: 0;
  background-color: #333;
  font-family: "helvetica neue", sans-serif;
}

fieldset{
  width: 50%;
  max-width: 700px;
  min-width: 200px;
  margin: 20px auto;
  margin-top: 60px;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 40px;
  text-align: center;
  color: white;
  background-color: #222;
}

input, textarea, select{
  width: 80%;
  display: block;
  margin: 10px auto;
  padding: 10px;
  background-color: #222;
  color: white;
  border: 2px solid gray;
  border-radius: 8px;
  outline: none;
}

table{
  width: 95%;
  max-width: 600px;
  min-width: 300px;
  margin: auto;
  text-align: center;
  text-align: center;
}

td{
  border: 1px solid gray;
  padding: 5px 10px;
  transition: 0.3s;
  margin: 20px auto;
}

td:hover{
  border: 1px solid white;
  background-color: #aa1010;
  color: white;
  transform: scaleX(1.05);
}

.fieldset-large{
  width: 95%;
}

.btnSubmit{
  padding: 12px;
  font-size: 16px;
  width: 140px;
  margin: 15px auto;
  text-align: center;
  display: block;
  border: 1px solid #222;
  border-radius: 8px;
  background-color: #cc1010;
  color: white;
  cursor: pointer;
}

.card{
  border-bottom: 2px solid gray;
  margin: 10px auto;
  padding: 20px;
  width: 80%;
  text-align: left;
  color: white;
}

.content{
  width: 75%;
  text-align: center;;
  margin:auto;
  background-color: #222;
  padding: 40px;
  min-height: 700px;
  color: white;
  margin-top: 10px;
}

.resposta{
  width: 45%;
  height: 47px;
  padding: 0;
  margin: auto;
  display: block;
  border: 2px solid gray;
  border-radius: 8px;
}

.resposta input{
  border: none;
  padding: 0;
  margin: 5px 0px;
  background: transparent;
  float: left;
  padding: 10px;
  width: 70%;
}

.campoInput{
  border: 1px solid gray;
  border-radius: 8px;
  padding: 25px;
  width: 60%;
  margin: 20px auto;
  background-color: #222;
}

.btn{
  display: inline-block;
  padding: 19px 25px;
  color: white;
  background-color: #111;
  cursor: pointer;
  margin: 10px auto;
}

.footer{
    background-color: #24292e ;
    padding: 15px 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    display: block;
}

.footer a{
  color: white;
  text-decoration: underline;
}

#btnList{
  width: 140px;
  margin: 10px;
  text-align: center;
  transition: 0.3s;
  border: 1px solid gray;
}
#btnList:hover{
  background-color: #aa1010;
}

#links{
  color: white;
  margin: 30px auto;
  display: block;
  text-decoration: underline;
}

#linksTable{
  text-decoration: underline;
  color: white;
  display: block;
  padding: 10px;
}

#btnResposta{
  display: inline-block;
  float: right;
  width: 80px;
  margin: 0px;
  padding: 12px 20px;
  font-size: 20px;
  background-color: #aa1010;
  text-align: center;
  cursor: pointer;
  position: relative;
  top: 2px;
}



#btnResposta:hover{
  background-color: #aa1010;
}

#btnPergunta{
  display: block;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  width: 90px;
  margin: 10px auto;
  cursor: pointer;
  background-color: #cc1010;
  transition: 0.3s;
}

#inputAcess, select{
  max-width: 200px;
  min-width: 90px;
  transition: 0.3s;
}

#inputForum{
  display: block;
  padding: 10px;
  margin: 5px auto;
  width: 80%;
  transition: 0.3s;
}

#inputForum:focus, #inputAcess:focus{
  background-color: #222; 
}

#topico{
  color: white;
  transition: 0.3s;
  margin: 5px;
  font-size: 22px;
  text-align: left;
  transition: 0.3s;
}

#topico:hover{
  color: #ee2525;
  text-decoration: underline;
}

#userForum{
  text-decoration: none;
  color: white;
  float: right;
  font-size: 16px;
}

@media (max-width: 420px){
  body{
    margin: 0 auto;
  }
  fieldset{
    width: 80%; 
    top: 10px;
    margin: auto;
  }
  table td{
    width: 80%;
    padding: 5px;
    margin: 5px auto;
    display: block;
  }
  table a{
    margin: 0 auto;
    padding: 0px;
    width: 80%;
  }
  .content{
    width: 92%;
    margin: auto;
    padding: 80px 10px;
    min-height: 310px;
  }
  .campoInput{
    width: 100%;
    padding: 0px;
    margin: 10px auto;
    max-width: 300px;
  }
  .card{
    width: 90%;
    margin: 15px auto;
    padding: 10px;
  }
  .btn{
    display: block;
    margin: auto;
  }
  .resposta{
    border: none;
    margin: 10px auto;
    width: 90%;
    float: left;
  }
  #inputForum{
    border: none;
    border-bottom: 2px solid gray;
    border-radius: 0px;
    text-align: center;
    margin: 15px auto;
    padding: 5px;
  }
  #btnResposta{
    width: 50px;
    padding: 10px 20px;
    display: block;
    float: left;
  }
  #btnList{
    width: 70%;
    margin: 10px auto;
  }
}