body{
  text-align: center;
  margin: auto;
  padding: 0;
}

fieldset{
  max-width: 35%;
  margin: auto;
  position: relative;
  top: 150px;
  padding: 70px 10px;
  border: 2px solid green;
  border-radius: 8px;
  display: block;
}

input, button{
  display: block;
  margin: 10px auto;
  padding: 10px;
  color: green;
}

#sub{
  position: relative;
  display: block;
  top: 35px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 20px 35px;
}