@media screen{
  img{
    display: block;
    border: 1px solid black;
    width: 90%;
    height: 230px;
    margin: auto;
    margin-top: -20px;
  }
  a{
    text-decoration: none;
    color: white;
    background-color: #821a1e;
    border: 1px solid;
    padding: 16px 20px;
    width: 100px;
    display: inline-block;
    border: none;
    border-radius: 8px;
    position: relative;
    transition: 0.3s;
    margin-top: 30px;
  }
}

@media (max-width: 420px){
  img{
    width: 90%;
  }
  a{
    width: 55%;
    padding: 15px 20px;
    margin-top: 10px;
  }
}