*{
  margin: 0;
  padding: 0;
}

@media screen{
  .menu ul{
    width: 100%;
    background-color: #586;
    height: 50px;
    position: relative;
    list-style: none;
  }
  .menu #navRight{
    position: absolute;
    right: 0;
    width: 47%;
    min-width: 700px;
    background-color: #333;
    display: block;
  }
  .menu ul li{
    display: block;
    float: left;
    text-align: center;
    width: 25%;
  }
  #navRight{
    float: right;
  }
  .menu a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px 5px;
  }
  .menu a:hover{
    background-color: #475;
  }
  #idUser{
    display: inline-block;
    float: left;
    color: white;
    padding: 15px;
    position: absolute;
  }
  #btnMenu{
    display: none;
  }
}

@media (max-width: 800px){
  .menu #navRight{
    display: none;
    position: relative;
  }
  .menu ul li{
    width: 100%;
    display: inline-block;
  }
  #btnMenu{
    display: block;
    float: right;
    border: none;
    padding: 8px 20px;
    position: absolute;
    right: 0;
    background-color: #475;
    color: white;
    font-size: 30px;
  }
  #idUser{
    position: relative;
    padding: 15px 0px;
    top: 0;
    width: 190px;
  }
}