*{
  margin: 0;
  padding: 0;
}

.menu ul{
  list-style: none;
  width: 100%;
  display: block;
  float: left;
  background-color: #596;
  position: relative;
  height: 50px;
}

.menu ul li{
  display: block;
  float: left;

  text-align: center;
  position: relative;
  right: 0;
  color: white;
}

.menu a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  color: black;
}

#navRight{
  float: right;
  background-color: gray;
  margin: 0;
  width: 70%;
  display: inline-block;
  position: relative;
}

#idUser{
  float: left;
  position: absolute;
  top: -10px;
  left: 5px;
  padding: 15px;
  margin-left: -5px;
  width: 20%;
}

#btnMenu{
  display: none;
}

@media screen{
  .menu a, #idUser{
    transition: 0.2s;
  }
  .menu #idUser:hover{
    border: 1px solid darkgreen;
    padding: 25px 15px;
    background-color: #485;
  }
  .menu a:hover{
    background-color: #485;
    padding: 25px 15px;
    border: 1px solid darkgreen;
  }
}

@media (max-width: 550px){
  #navRight{
    display: none;
  }

  #btnMenu{
    display: inline-block;
    float: right;
    position: relative;
    margin: 5px;
    padding: 1px 16px;
    color: white;
    font-size: 25px;
  }

  #idUser{
    display: inline;
    float: left;
    color: black;
    width: 20%;
  }

  .menu*{
    transition: 0s;
  }

  .menu ul li{
    width: 100%;
    display: block;
    position: relative;
    top: 48px;
    left: 0px;
  }

  .menu a{
    width: 100%;
    padding: 10px;
    margin: 0px auto;
    background-color: #485;
  }

  .menu a:hover{
    padding: 15px;
    border: none;
  }

}