*{
  margin: 0;
  padding: 0;
}

.menu ul{
  list-style: none;
  background-color: #333;
  display: block;
  position: relative;
  height: 50px;
}

.menu ul li{
  display: block;
  position: relative;
  float: left;
  width: 17%;
  text-align: center;
  font-size: 15px;
}

.menu ul li a{
  padding: 15px;
  display: block;
  color: white;
  text-decoration: none;
  background-color: #444;
}

#user{
  text-decoration: none;
  color: white;
  padding: 15px 10px;
  float: right;
}

label{
  display: none;
}

@media screen{
  .menu a{
    transition: 0.3s;
  }
  .menu a:hover{
    background-color: #555;
  }
}

@media (max-width: 650px){
  .menu ul{
    background-color: #333;
  }
  .menu ul li{
    display: none;
    width: 100%;
    text-align: center;
  }
  .menu ul li a{
    border-bottom: 1px solid black;
  }
  #user{
    padding: 15px 10px;
  }
  label{
    display: inline-block;
    color: white;
    padding: 8px 30px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
  }
  #btnMenu:checked ~ .menu{
    display: block;
  }
}