@media screen{
  .left{
    display: block;
    float: left;
    margin: 0;
    padding: 30px 0px;
    width: 22%;
    min-height: 150px;
    height: 140px;
    border-radius: 10px 0px;
    background-color: #204520;
  }
  .center{
    position: relative;
    width: 80%;
    border: 1px solid;
    display: block;
    padding: 10px;
  }
  .center img{
    margin: 10px;
    width: 25%;
    height: 320px;
    min-width: 20%;
    display: block;
    float: left;
  }
}