*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #ccc;
}
button{
	margin-left: 10px;
	margin-top: -50px;
	padding: 10px;
	outline: none;
	border: none;
	border-radius: 5px;
	background-color: green;	
	font-family: 'monitoria';
	cursor: pointer;
	color: white;
	transition: 0.5s;
}
button:hover{
	background-color: darkgreen;
}
.content{
	margin: 100px auto 0px;
	width: 100%;
	height: auto;
	/*max-width: 1200px;*/
	background-color: white;
	padding: 0px 0px 20px 0px;
}
.content-header{
	height: 200px;
	width: 100%;
	padding: 10px 0px 0px 0px;
	background-image: url('../imgs/teste.jpg');
	background-size: 100%;
}
.content-image{
	position: relative;
	margin: 20px auto;	
	width: 150px;
	height: 150px;
	background-image: url('../imgs/teste.png');
	background-size: cover;
	border-radius: 10px;

}
.icons{
	position: absolute;
	font-size: 30px;
	margin-left: 10px;
	color: white;
	right: 60px;
	cursor: pointer;
}
.icons i:hover{
	color: lightgreen;
}
.content-body{
	text-align: center;
	padding: 10px 0px 10px 0px;
	width: 100%;
	height: auto;
	position: relative;
	height:auto;
}