@media screen{
  body{
    
  }
  header{
    text-align: center;
  }
  fieldset{
    width: 40%;
    margin: auto;
    padding: 55px 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 0px black;
  }
  input{
    display: block;
    text-align: center;
    margin: auto;
  }
}